* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../Resource/profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: auto;
    cursor: pointer;
    background: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #000;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.profile-details {
    margin-top: 50px;
    text-align: left;
}